<script lang="ts">
    import MinimapObjectSelector from "../sections/MinimapObjectSelector.svelte";
    import MinimapDisplay from "../sections/MinimapDisplay.svelte";
    import { projectStore, stateStore } from "../miscellaneous";

    let selectedMinimapObjectID: string | undefined;
</script>

{#if $stateStore === undefined}
    <div class="flex flex-col justify-center
        w-full h-full">
        <p class="text-2xl text-slate-300">Select a state from [States] first</p>
    </div>
{:else if $projectStore.storage.states.data[$stateStore].type === "opening"}
    <div class="flex flex-col justify-center
        w-full h-full">
        <p class="text-2xl text-slate-300">Cannot setup minimap for opening state</p>
        <p class="text-2xl text-slate-300">Select another state from [States]</p>
    </div>
{:else}
    <div class="flex flex-row space-x-4
        h-full w-full">
        <div class="flex flex-col space-y-4
            h-full" style="width: 30%">
            <MinimapObjectSelector selectedStateID={$stateStore}
                bind:selectedMinimapObjectID={selectedMinimapObjectID} />
        </div>
        <div class="grow flex flex-col space-y-4
            h-full">
            <MinimapDisplay selectedStateID={$stateStore} 
                selectedMinimapObjectID={selectedMinimapObjectID} />
        </div>
    </div>
{/if}